<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Eventos</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/list-event">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Agregar un nuevo evento</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-padding">

      <ion-list>
        <ion-item>
          <ion-label stacked>Event Name</ion-label>
          <ion-input [(ngModel)]="eventName" type="text" placeholder="What's your event's name?"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Price</ion-label>
          <ion-input [(ngModel)]="eventPrice" type="text" placeholder="How much will guests pays?"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Cost</ion-label>
          <ion-input [(ngModel)]="eventCost" type="text" placeholder="How much are you spending?"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Event Date</ion-label>
          <ion-datetime [(ngModel)]="eventDate" presentation="date" display-format="D MM, YY" pickerFormat="DD MM YYYY"
            min="2017" max="2023-12-31"></ion-datetime>
        </ion-item>
        <ion-button (click)="createEvent(eventName, eventPrice, eventCost, eventDate)" expand="block" color="primary">
          Create Event
        </ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>