<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Incio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-card color="light" routerLink="/song/list">
    <ion-card-header>
      <ion-card-title>  <strong>Canciones</strong> </ion-card-title>
      <ion-card-subtitle>Aquí podrás ver tus canciones y ejecutar acciones sobre ellas.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      ¡Comenzemos!
    </ion-card-content>
  </ion-card>
  
  <ion-card color="light" routerLink="/artist/list">
    <ion-card-header>
      <ion-card-title>  <strong>Artistas</strong> </ion-card-title>
      <ion-card-subtitle>Aquí podrás ver todos los artistas</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  
  <ion-card color="light" routerLink="/recording/list">
    <ion-card-header>
      <ion-card-title>  <strong>Recordings</strong> </ion-card-title>
      <ion-card-subtitle>Aquí podrás ver tus canciones y ejecutar acciones sobre ellas.</ion-card-subtitle>
      
      <ion-card-content>
        ¡Comenzemos!
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>