<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cantantes</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon slot="end" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header class="ion-padding">
      <ion-card-title> <strong> Lista de cantantes</strong> </ion-card-title>
    </ion-card-header>

    <ion-list lines="underfined">
      <ion-card color="light" *ngFor="let singer of (artists | async)">
        <ion-item>
          <ion-icon slot="start" name="person" class="ion-icon-left"></ion-icon>
          <p>{{singer.name}}</p>
        </ion-item>

        <ion-item>
          <ion-icon slot="start" name="mail-open" class="ion-icon-left"></ion-icon>
          <p>{{singer.email}}</p>
        </ion-item>

        <ion-item>
          <ion-icon slot="start" name="call" class="ion-icon-left"></ion-icon>
          <p>{{singer.phone}}</p>
        </ion-item>

        <ion-item>
          <ion-icon slot="start" name="globe" class="ion-icon-left"></ion-icon>
          <p>{{singer.website}}</p>
        </ion-item>

        <ion-item>
          <ion-icon slot="start" name="business" class="ion-icon-left"></ion-icon>
          <p>{{singer.company.name}}</p>
        </ion-item>
      </ion-card>
    </ion-list>
  </ion-card>
</ion-content>